<ngx-ui-loader fgsSize="180" bdColor="rgba(255, 0, 24,0.8)" size="large" color="#fff" [fgsType]="spinnerType">
</ngx-ui-loader>

<div class="ms-content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <breadcrumb #parent>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-arrow has-gap first-rounded pl-0">
            <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
              <li class="breadcrumb breadcrumb-arrow has-gap first-rounded"><a routerLink="/academics/exams"><i class="material-icons">home</i> Home</a></li>
             <!-- <li *ngIf="!route.terminal" class="breadcrumb-item">
                <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
              </li>-->
              <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{
                route.displayName }}</li>
            </ng-template>
          </ol>
        </nav>
      </breadcrumb>

    </div>
    <div class="col-md-12">
      <div class="ms-panel ms-panel-fh">
        <div class="ms-panel-header">
          <h6>Exam Details</h6>
        </div>
          <div class="row" >
            <div class="col-4 p-5">
              <h4 class="i font-bold m-b m-t-none">{{exam.exam_schedule_name}} </h4>
              <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Exam Type: <b>{{exam.exam_type.exam_type_name}}</b></p>
              <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Exam Date: <b>{{exam.exam_date | date}}</b></p>
              <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Exam Time: <b>{{exam.exam_time}}</b></p>
              <!-- <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Class: <b>{{exam.class_model.class_name }}</b></p> -->

            </div>
            <div class="col-4 p-5">
              <h4 class="i font-bold m-b m-t-none">{{exam.exam_schedule_name}} </h4>
              <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Subject: <b>{{exam.subject.subject.subject_name}}</b></p>
              <!-- <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Class Level: <b>{{exam.class_model.school_level.school_level_name }}</b></p>
              <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Education System: <b>{{exam.class_model.education_system.education_system_name }}</b></p>
              <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Subject: <b>{{exam.subject.subject.subject_name}}</b></p>
              <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Date Created: <b>{{exam.createAt | date}}</b></p> -->
            </div>
            <hr/>
          </div>

      </div>
    </div>
    <hr/>

    <div class="col-md-12"> 
    <div class="ms-panel">
      <div class="row ms-panel-header">
        <div class="col">
          <h6>Graded Student List</h6>
        </div>
        <div class="col">
          
          <!-- <button routerLink="/academics/add-exam-type" class="btn btn-danger btn-sm btn-rounded float-right"
                  data-toggle="modal">
            <i class="fa fa-plus"></i> Add Exam Type
          </button>  -->
        </div>
      </div>
      <div class="ms-panel-body">
        <div class="table-responsive">
          <table id="data-table-5" class="table w-100 thead-primary"></table>
        </div>
        <div class="col-xl-12 justify-content-end">
          <div class="table-responsive">
          <table  *ngIf="studentsGrades" datatable="ng" [dtOptions]="dtOptions" class="table table-striped table-bordered" id="datatableStudents">
          
                <thead class="thead-light pb-3 mb-5">
                  <tr>
                    <th>#SN</th>
                    <th class="sort" data-sort="title">Names</th>
                    <th>Class</th> 
                    <th>Stream</th> 
                    <th>Grade</th> 
                    <th>Remarks</th> 
                  </tr>
                  </thead>
                <tbody class="list">
                <tr *ngFor="let student of this.studentsGrades;let ix=index;">
                  <td scope="row">{{ ix+1 }}</td>
                  <td scope="row">{{ student.student.first_name }} {{ student.middle_name }} {{ student.surname }}</td>
                  <td scope="row">{{ student.student.school_stream.class_model.class_name }}</td>
                  <td scope="row">{{ student.student.school_stream.stream_name }}</td>
                  <td scope="row">{{ student.grade  }}</td>
                  <td scope="row">{{ student.remarks  }}</td>                  
                </tr>
                </tbody> 

          </table>
          <ngb-alert *ngIf="!studentsGrades" [dismissible]="false" type="info">
            <i class="flaticon-information"></i><strong>Heads up!</strong>There are no records found
        </ngb-alert>
          </div>
        </div>
<!--              <ng2-smart-table [settings]="settings" [source]="schools" class="table w-100 thead-primary"></ng2-smart-table>-->
      </div>
    </div>


    </div>

  </div>
</div>


 