<ngx-ui-loader fgsSize="180" bdColor="rgba(245, 54, 92,0.8)" size="large" color="#fff" [fgsType]="spinnerType">
</ngx-ui-loader>

<div class="ms-content-wrapper">
  <div class="row">
    <div class="col-md-12">
<!--      <app-breadcrumb></app-breadcrumb>-->
      <breadcrumb #parent>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-arrow has-gap first-rounded pl-0">
            <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
              <li class="breadcrumb breadcrumb-arrow has-gap first-rounded"><a routerLink="/schools/list"><i class="material-icons">home</i> Home</a></li>
              <!-- <li *ngIf="!route.terminal" class="breadcrumb-item">
                 <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
               </li>-->
              <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{
                route.displayName }}</li>
            </ng-template>
          </ol>
        </nav>
      </breadcrumb>
      <div class="ms-panel">
        <div class="row ms-panel-header">
          <div class="col">
            <h6>Education System List</h6>
          </div>
          <div class="col">
            <button class="btn btn-danger btn-sm btn-rounded float-right" (click)="openmax(add)"
              data-toggle="modal">
              <i class="fa fa-plus"></i> Add Education System
            </button>
          </div>
        </div>
        <div class="ms-panel-body"> 
          <div class="table-responsive">

            <table  *ngIf="educationSystemList" datatable   [dtOptions]="dtOptions"  class="table table-striped table-bordered">
              <thead class="thead-light pb-3 mb-5">
                <tr>
                  <th>#SN</th>
                  <th class="sort" data-sort="title">Name</th>
                  <th>Description</th> 
                  <th>Action</th>
                </tr>
              </thead>  

              <tbody class="list">
                <tr *ngFor="let educationSystem of educationSystemList; let ix = index">
                  <td scope="row">{{ ix + 1 }}</td>
                  <td scope="row">{{ educationSystem.education_system_name }}</td>
                  <td scope="row">{{ educationSystem.description }}</td> 
                  <td>
                    <a class="" (click)="viewDetails(educationSystem,view)">
                      <i class="fa fa-eye"><strong></strong></i>
                    </a>
                    <a class="" (click)="editDetails(educationSystem,edit)">
                      <i class="fas fa-edit"><strong></strong></i>
                    </a>
                    <a class="" (click)="delete_class(educationSystem)">
                      <i class="fas fa-trash"><strong></strong></i>
                    </a>
                   
                  </td>
                </tr>
              </tbody>
            </table>


            <ngb-alert *ngIf="!educationSystemList" [dismissible]="false" type="info">
              <i class="flaticon-information"></i><strong>Heads up!</strong>There are no records found
          </ngb-alert>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-body">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Add Education System</h1>

    <form #myForm="ngForm" (ngSubmit)="addEducationSystem(myForm)" autocomplete="off" class="form form-register">
      <fieldset>
        <div class="ms-form-group has-icon">
          <label>Education System  Name</label>
          <input type="text" placeholder="Education System Name" class="form-control"
                 [(ngModel)]="educationSystemData.education_system_name" name="education_system_name" #education_system_name="ngModel"required />
          <div *ngIf="(education_system_name.touched || submitted) && education_system_name.invalid">
            <span class="text-danger" *ngIf="education_system_name.errors.required">Education System Name is required.</span>
          </div>
        </div>        

        <div class="ms-form-group has-icon">
          <label>Description</label>
          <textarea rows="5" class="form-control" placeholder="description"
                    [(ngModel)]="educationSystemData.description" name="description" #description="ngModel" required ></textarea>
          <div *ngIf="
              (description.touched || submitted) && description.invalid
            ">
            <span class="text-danger" *ngIf="description.errors.required">Description is required.</span>
          </div>
        </div>
 
 
      </fieldset>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary shadow-none">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #edit let-modal>
  <div class="modal-body">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Edit Education System</h1>

    <form #myForm="ngForm" (ngSubmit)="editEducationSystem(myForm)" autocomplete="off" class="form form-register">
      <fieldset>
        <div class="ms-form-group has-icon">
          <label>educationSystem Name</label>
          <input type="text" placeholder="Education System Name" class="form-control"
                 [(ngModel)]="educationSystemData.education_system_name" name="education_system_name" #education_system_name="ngModel"required />
          <div *ngIf="(education_system_name.touched || submitted) && education_system_name.invalid">
            <span class="text-danger" *ngIf="education_system_name.errors.required">educationSystem Name is required.</span>
          </div>
        </div>        

        <div class="ms-form-group has-icon">
          <label>Description</label>
          <textarea rows="5" class="form-control" placeholder="description"
                    [(ngModel)]="educationSystemData.description" name="description" #description="ngModel" required ></textarea>
          <div *ngIf="
              (description.touched || submitted) && description.invalid
            ">
            <span class="text-danger" *ngIf="description.errors.required">Description is required.</span>
          </div>
        </div>
 
      </fieldset>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary shadow-none">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #view let-modal>
  <div class="modal-body">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>View Education System</h1>

    <form autocomplete="off" class="form form-register">
      <fieldset>
        <div class="ms-form-group has-icon">
          <label>Education System Name</label>
          <input type="text" placeholder="Education System Name" class="form-control"
                 [(ngModel)]="educationSystemData.education_system_name" name="education_system_name" #education_system_name="ngModel" readonly required />
        </div>        

        <div class="ms-form-group has-icon">
          <label>Description</label>
          <textarea rows="5" class="form-control" placeholder="description"
                    [(ngModel)]="educationSystemData.description" name="description" #description="ngModel"  readonly required ></textarea>
        </div>

        

      </fieldset>
      <div class="" >
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
