<!-- Body Content Wrapper -->
<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="db-header-title">Dashboard <h6 class="text-black-50 md-3 mb-3">Pangani School</h6></h1>
        </div>

        <div class="col-xl-3 col-md-6" *ngFor="let item of statbox">
            <a routerLink="/">
                <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget">
                    <span class="msg-count">{{item.notification}}</span>
                    <div class="ms-panel-body media">
                        <i class="material-icons">{{item.icon}}</i>
                        <div class="media-body">
                            <h6>{{item.title}}</h6>
                            <span>{{item.text}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Users by country table -->
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-widget ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Users By Country</h6>
                    <p>Your user base based on country</p>
                </div>
                <div class="ms-panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Country</th>
                                    <th scope="col">Users</th>
                                    <th scope="col">Percentage</th>
                                    <th scope="col">Exits</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of countrytable">
                                    <th scope="row"> <img [src]="item.countryflag" alt="flags"></th>
                                    <td>{{item.entrance | number:'1.2-2'}}</td>
                                    <td>{{item.bouncerate | number:'1.2-2'}}%</td>
                                    <td>{{item.exits | number:'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Users Pie Chart -->
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Users</h6>
                    <p>Users by country visualized</p>
                </div>
                <div class="ms-panel-body">
                    <div class="row">
                        <div class="col-xl-4 col-md-4">
                            <div class="ms-graph-labels column-direction">
                                <div class="ms-chart-no-label">
                                    <span class="bg-success"></span>
                                    <p>$9,348,319</p>
                                </div>
                                <div class="ms-chart-no-label">
                                    <span class="bg-primary"></span>
                                    <p>$4,344,316</p>
                                </div>
                                <div class="ms-chart-no-label">
                                    <span class="bg-warning"></span>
                                    <p>$518,513</p>
                                </div>
                                <div class="ms-chart-no-label">
                                    <span class="bg-danger"></span>
                                    <p>$348,319</p>
                                </div>
                                <div class="ms-chart-no-label">
                                    <span class="bg-secondary"></span>
                                    <p>$3,416,139</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-8">
                            <canvas baseChart [datasets]="PieChartData" [labels]="PieChartLabels"
                                [options]="PieChartOptions" [chartType]="PieChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Traffic Line Chart -->
        <div class="col-xl-7 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>User Traffic</h6>
                    <p>Track User Traffic</p>
                </div>
                <div class="ms-panel-body">
                    <canvas baseChart [datasets]="UsertrafficChartData" [labels]="UsertrafficChartLabels"
                        [options]="UsertrafficChartOptions" [chartType]="lineChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-md-12">
            <div class="ms-panel ms-panel-fh ms-facebook-engagements">
                <div class="ms-panel-header">
                    <h6>User Purchases</h6>
                    <p>Track which purchases by month</p>
                </div>
                <div class="ms-panel-body p-0">
                    <div class="ms-facebook-page-selection">
                        <p class="ms-text-dark">March 25, 2021 to April 02, 2021</p>
                        <span>Product: </span>
                        <div class="dropdown" ngbDropdown>
                            <a href="javascript:void(0)" class="has-chevron" ngbDropdownToggle>Product Name here </a>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li class="ms-dropdown-list">
                                    <a class="media p-2" routerLink="/">
                                        <div class="media-body">
                                            <span>Product 1</span>
                                        </div>
                                    </a>
                                    <a class="media p-2" routerLink="/">
                                        <div class="media-body">
                                            <span>Product 2</span>
                                        </div>
                                    </a>
                                    <a class="media p-2" routerLink="/">
                                        <div class="media-body">
                                            <span>Product 3</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="ms-list clearfix">
                        <li class="ms-list-item">
                            <div class="d-flex justify-content-between align-items-end">
                                <div class="ms-graph-meta">
                                    <h2>January, 2021</h2>
                                    <p class="ms-text-dark">45.07%</p>
                                    <p class="ms-text-success">+28.44%</p>
                                    <p>VS 66.68% (Prev)</p>
                                </div>
                                <div class="ms-graph-canvas">
                                    <canvas baseChart [datasets]="engagedChartData" [labels]="UserpchChartLabels"
                                        [options]="UserpchChartOptions" [chartType]="lineChartType">
                                    </canvas>
                                </div>
                            </div>
                        </li>
                        <li class="ms-list-item">
                            <div class="d-flex justify-content-between align-items-end">
                                <div class="ms-graph-meta">
                                    <h2>February, 2021</h2>
                                    <p class="ms-text-dark">9.07%</p>
                                    <p class="ms-text-danger">-2.31%</p>
                                    <p>VS 45.07% (Prev)</p>
                                </div>
                                <div class="ms-graph-canvas">
                                    <canvas baseChart [datasets]="pageimmpChartData" [labels]="UserpchChartLabels"
                                        [options]="UserpchChartOptions" [chartType]="lineChartType">
                                    </canvas>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Chat -->
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-panel-fh ms-widget ms-chat-conversations">
                <div class="ms-panel-header">
                    <div class="ms-chat-header justify-content-between">
                        <div class="ms-chat-user-container media clearfix">
                            <div class="ms-chat-status ms-status-online ms-chat-img mr-3 align-self-center">
                                <img src="../../../assets/img/costic/customer-1.jpg" class="ms-img-round" alt="people">
                            </div>
                            <div class="media-body ms-chat-user-info mt-1">
                                <h6>Heather Brown</h6>
                                <span class="text-disabled fs-12">
                                    Active Now
                                </span>
                            </div>
                        </div>
                        <ul class="ms-list ms-list-flex ms-chat-controls">
                            <li placement="top" ngbTooltip="Call"> <i class="material-icons">local_phone</i> </li>
                            <li placement="top" ngbTooltip="Video Call"> <i class="material-icons">videocam</i> </li>
                            <li placement="top" ngbTooltip="Add to Chat"> <i class="material-icons">person_add</i> </li>
                        </ul>
                    </div>
                </div>
                <perfect-scrollbar class="ms-panel-body ms-scrollable">
                    <div class="{{item.userId === currentUserId ? 'ms-chat-bubble ms-chat-message media clearfix ms-chat-outgoing' : 'ms-chat-bubble ms-chat-message media clearfix ms-chat-incoming'}}"
                        *ngFor="let item of chats; let i = index;">
                        <div [innerHtml]="getChatInitialMsg(item, i)"></div>
                        <div class="media-body">
                            <div class="ms-chat-text">
                                <p> {{item.message}}</p>
                            </div>
                            <div [innerHtml]="getChatInitialTime(item, i)"></div>

                        </div>
                    </div>
                    <div class="ms-panel-footer">
                        <div class="ms-chat-textbox">
                            <ul class="ms-list-flex mb-0">
                                <li class="ms-chat-vn"><i class="material-icons">mic</i> </li>
                                <li class="ms-chat-input">
                                    <input type="text" name="msg" placeholder="Enter Message" value="">
                                </li>
                                <li class="ms-chat-text-controls ms-list-flex">
                                    <span> <i class="material-icons">tag_faces</i> </span>
                                    <span> <i class="material-icons">attach_file</i> </span>
                                    <span> <i class="material-icons">camera_alt</i> </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
        <!-- Recent Support Tickets -->
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6>Recent Support Tickets</h6>
                            <p>Some of the recent support tickets</p>
                        </div>
                        <a routerLink="/" class="btn btn-primary"> View All</a>
                    </div>
                </div>
                <div class="ms-panel-body p-0">
                    <ul class="ms-list ms-feed ms-twitter-feed ms-recent-support-tickets">
                        <li class="ms-list-item" *ngFor="let item of tickets">
                            <a routerLink="/" class="media clearfix">
                                <img src="{{item.userimg}}" class="ms-img-round ms-img-small" alt="{{item.username}}">
                                <div class="media-body">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="ms-feed-user mb-0">{{item.username}}</h4>
                                        <span class="badge badge-success" *ngIf="item.open"> Open </span>
                                        <span class="badge badge-danger" *ngIf="item.close"> Closed </span>
                                    </div>
                                    <span class="my-2 d-block"> <i class="material-icons">date_range</i>
                                        {{item.date}}</span>
                                    <p class="d-block"> {{item.query}}</p>
                                    <div class="d-flex justify-content-between align-items-end">
                                        <div class="ms-feed-controls">
                                            <span>
                                                <i class="material-icons">chat</i> {{item.comment}}
                                            </span>
                                            <span>
                                                <i class="material-icons">attachment</i> {{item.attachment}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
