<ngx-ui-loader fgsSize="180" bdColor="rgba(255, 0, 24,0.8)" size="large" color="#fff" [fgsType]="spinnerType">
</ngx-ui-loader>

<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--      <app-breadcrumb></app-breadcrumb>-->
            <breadcrumb #parent>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-arrow has-gap first-rounded pl-0">
                        <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                            <li class="breadcrumb breadcrumb-arrow has-gap first-rounded"><a routerLink="/dashboard"><i
                                        class="material-icons">home</i> Home</a></li>
                            <!-- <li *ngIf="!route.terminal" class="breadcrumb-item">
                 <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
               </li>-->
                            <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{
                                route.displayName }}</li>
                        </ng-template>
                    </ol>
                </nav>
            </breadcrumb>
            <div class="ms-panel">
                <div class="row ms-panel-header">
                    <div class="col">
                        <h6>Change Password</h6>
                    </div>
                    <div class="col">


                    </div>
                </div>
                <div class="ms-panel-body">
                    <div class="col-md-6">
                        <!-- form card change password -->
                        <div class="card card-outline-secondary">
                            <div class="card-body">
                                <form #myForm="ngForm" (ngSubmit)="updateCreds(myForm)" autocomplete="off"
                                    class="form form-register">
                                    <div class="form-group">
                                        <label for="inputPasswordOld">Current Password</label>
                                        <input type="password" class="form-control" id="inputPasswordOld"
                                            [(ngModel)]="creds.old_password" name="old_password" #old_password="ngModel"
                                            required>
                                        <div *ngIf="(old_password.touched || submitted) && old_password.invalid">
                                            <span class="text-danger" *ngIf="old_password.errors.required">Old Password
                                                is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPasswordNew">New Password</label>
                                        <input type="password" class="form-control" id="inputPasswordNew"
                                            [(ngModel)]="creds.new_password" name="new_password" #new_password="ngModel"
                                            required>
                                        <span class="form-text small text-muted">
                                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                                        </span>
                                        <div *ngIf="(new_password.touched || submitted) && new_password.invalid">
                                            <span class="text-danger" *ngIf="new_password.errors.required">New Password
                                                is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPasswordNewVerify">Verify</label>
                                        <input type="password" class="form-control" id="inputPasswordNewVerify"
                                            [(ngModel)]="creds.confirm_password" name="confirm_password"
                                            #confirm_password="ngModel" required>
                                        <span class="form-text small text-muted">
                                            To confirm, type the new password again.
                                        </span>
                                        <div
                                            *ngIf="(confirm_password.touched || submitted) && confirm_password.invalid">
                                            <span class="text-danger" *ngIf="confirm_password.errors.required">Confirm
                                                Password is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg float-right">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /form card change password -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>