 

<ngx-ui-loader fgsSize="180" bdColor="rgba(255, 0, 24,0.8)" size="large" color="#fff" [fgsType]="spinnerType">
</ngx-ui-loader>

<div class="ms-content-wrapper">
  <div class="row">
    <div class="col-md-12">
<!--      <app-breadcrumb></app-breadcrumb>-->
      <breadcrumb #parent>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-arrow has-gap first-rounded pl-0">
            <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
              <li class="breadcrumb breadcrumb-arrow has-gap first-rounded"><a routerLink="/dashboard"><i class="material-icons">home</i> Home</a></li>
              <!-- <li *ngIf="!route.terminal" class="breadcrumb-item">
                 <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
               </li>-->
              <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{
                route.displayName }}</li>
            </ng-template>
          </ol>
        </nav>
      </breadcrumb>
      <div class="ms-panel">
        <div class="row ms-panel-header">
          <div class="col">
            <h6>Grade List</h6>
          </div>
          <div class="col">
            <button class="btn btn-danger btn-sm btn-rounded float-right" (click)="openmax(gradeModal)"
              data-toggle="modal">
              <i class="fa fa-plus"></i> Setup Grade
            </button>
          </div>
        </div>
        <div class="ms-panel-body"> 
          <div class="table-responsive">
            <table *ngIf="gradeList" datatable [dtOptions]="dtOptions"
              class="table table-striped table-bordered">
              <thead class="thead-light pb-3 mb-5">
                <tr>
                  <th>#SN</th>
                  <th class="sort" data-sort="title"> Gade Name</th>
                  <th> Lower Limit</th> 
                  <th>Lower Limit</th> 
                  <th>Remarks</th> 
                  <th>Action</th>
                </tr>
              </thead>

              <tbody class="list">
                <tr *ngFor="let grade of gradeList; let ix = index">
                  <td scope="row">{{ ix + 1 }}</td>
                  <td scope="row">{{ grade.grade_name }}</td>
                  <td scope="row">{{ grade.lower_point }}</td>  
                  <td scope="row">{{ grade.high_point }}</td>  
                  <td scope="row">{{ grade.remarks }}</td>
                  <td>
                    <a class="" (click)="viewDetails(grade,gradeModal)">
                      <i class="fa fa-eye"><strong></strong></i>
                    </a>
                    <a class="" (click)="editDetails(grade,gradeModal)">
                      <i class="fas fa-edit"><strong></strong></i>
                    </a>
                    <a class="" (click)="delete_class(grade)">
                      <i class="fas fa-trash"><strong></strong></i>
                    </a>
                  </td>  
                
                </tr>
              </tbody>
            </table>
            <ngb-alert *ngIf="!gradeList" [dismissible]="false" type="info">
              <i class="flaticon-information"></i><strong>Heads up!</strong>There are no records found
          </ngb-alert>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #gradeModal let-modal>
  <div class="modal-body">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Add/Edit Grade Item</h1>

    <form [formGroup]="gradeForm" (ngSubmit)="submit($event)" autocomplete="off" class="form form-register">
      <fieldset>
        <div class="ms-form-group has-icon">
          <label>Grade Name </label>
          <input type="text" placeholder="Grade Name " class="form-control" id="grade"
            formControlName="grade_name" name="grade_name" required value="{{grade.grade_name}}" />
          <div *ngIf="(f.grade_name.touched || submitted) && f.grade_name.invalid">
            <span class="text-danger" *ngIf="f.grade_name.errors.required">Grade name  is required.</span>
          </div>
        </div> 

        <div class="row">
          <div class="col-md-6">
            <div class="ms-form-group has-icon">
              <label> Lower Limit</label>
              <input type="number" placeholder="Lower Limit " class="form-control" id="grade_low" formControlName="grade_low"
                name="grade_low" required value="{{grade.lower_point}}" />
              <div *ngIf="(f.grade_low.touched || submitted) && f.grade_low.invalid">
                <span class="text-danger" *ngIf="f.grade_low.errors.required">Lower limit  is required.</span>
              </div>
            </div> 
          </div>
          <div class="col-md-6">
            <div class="ms-form-group has-icon">
              <label> Upper Limit</label>
              <input type="number" placeholder="Upper Limit " class="form-control" id="grade_high" formControlName="grade_high"
                name="grade_high" required value="{{grade.higher_point}}" />
              <div *ngIf="(f.grade_high.touched || submitted) && f.grade_high.invalid">
                <span class="text-danger" *ngIf="f.grade_high.errors.required">Upper Limit is required.</span>
              </div>
            </div> 
          </div>
        </div>

       


                
        <div class="ms-form-group has-icon">
          <label>Remarks</label>
          <textarea rows="5" class="form-control" placeholder="Remarks" name="remarks"
            value="{{grade.remarks}}" formControlName="remarks" required></textarea>
          <div *ngIf=" (f.remarks.touched || submitted) && f.remarks.invalid ">
            <span class="text-danger" *ngIf="f.remarks.errors.required">Remarks is required.</span>
          </div> 
        </div> 
       


      </fieldset>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary shadow-none">Save</button>
      </div>
    </form>
  </div>
</ng-template>
