[Unit]
 Description = School Test Service
 After network.target = school_test.service
[Service]
 Type = forking
 Restart=always
 RestartSec=1
 SuccessExitStatus=143
 ExecStart = /usr/local/bin/school_test.sh start
 ExecStop = /usr/local/bin/school_test.sh stop
 ExecReload = /usr/local/bin/school_test.sh reload
[Install]
 WantedBy=multi-user.target
