<!-- Body Content Wrapper -->
<div class="ms-content-wrapper">
        <!--<div class="row">
        <div class="col-md-12">
            <h1 class="db-header-title">Welcome,{{curr_user}} </h1>
        </div>
     <div class="col-xl-3 col-md-6" *ngFor="let item of statbox">
            <a routerLink="/">
                <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget">
                    <span class="msg-count">{{item.notification}}</span>
                    <div class="ms-panel-body media">
                        <i class="material-icons">{{item.icon}}</i>
                        <div class="media-body">
                            <h6>{{item.title}}</h6>
                            <span>{{item.text}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
     
    </div> -->

    <div class="row">
        <div class="col-md-12">
          <h1 class="db-header-title">Welcome,{{curr_user}} </h1>
        </div>

      
        <div class="col-xl-3 col-md-6">
          <a href="#">
            <div class="ms-panel ms-panel-hoverable has-border ms-widget ms-has-new-msg ms-notification-widget"> 
              <div class="ms-panel-body media"> <i class="material-icons">folder</i>
                <div class="media-body">
                  <h6>Total  students</h6>
                  <span>{{stats.students}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#">
            <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget"> 
              <div class="ms-panel-body media"> <i class="material-icons">people</i>
                <div class="media-body">
                  <h6>Total  Classes</h6>
                  <span>{{stats.classes}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#">
            <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget">
              <div class="ms-panel-body media"> <i class="material-icons">help</i>
                <div class="media-body">
                  <h6>Total  Subjects</h6>
                  <span>{{stats.subjects}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#">
            <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget">
              <div class="ms-panel-body media"> <i class="material-icons">graphic_eq</i>
                <div class="media-body">
                  <h6>Total  Staffs</h6>
                  <span>{{stats.staffs}}</span>
                </div>
              </div>
            </div>
          </a>
        </div> 
      </div>


      
    <!-- <div class="row">
      <div class="col-md-12">
        <h1 class="db-header-title">Welcome,{{curr_user}} </h1>
      </div>

    
      <div class="col-xl-3 col-md-6">
        <a href="#">
          <div class="ms-panel ms-panel-hoverable has-border ms-widget ms-has-new-msg ms-notification-widget"> <span class="msg-count">6</span>
            <div class="ms-panel-body media"> <i class="material-icons">folder</i>
              <div class="media-body">
                <h6>Total  students</h6>
                <span>{{stats.students}}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#">
          <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget"> <span class="msg-count">5</span>
            <div class="ms-panel-body media"> <i class="material-icons">people</i>
              <div class="media-body">
                <h6>Total  Classes</h6>
                <span>{{stats.classes}}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#">
          <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget"> <span class="msg-count">3</span>
            <div class="ms-panel-body media"> <i class="material-icons">help</i>
              <div class="media-body">
                <h6>Total  Subjects</h6>
                <span>{{stats.subjects}}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#">
          <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget"> <span class="msg-count">2</span>
            <div class="ms-panel-body media"> <i class="material-icons">graphic_eq</i>
              <div class="media-body">
                <h6>Total  Staffs</h6>
                <span>{{stats.staffs}}</span>
              </div>
            </div>
          </div>
        </a>
      </div> 
    </div> -->
</div>